<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Hubbly</h2>
      <a class="btn btn-outline-light" href="http://www.hubbly.online/" role="button">View the site</a>
      <a class="btn btn-light" href="https://github.com/RafaelFernandez/wslt.git" role="button">View the code</a>
      <p class="copy">The website that makes other websites!<br />Uses a whole heap of JS and Stimulus<br />From MVP to complete web app</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">UniChoices</h2>
      <p class="copy">A commercial site to compare UK universities and courses<br />Built API using MySQL</p>
      <a class="btn btn-outline-light" href="https://unichoices.co.uk/" role="button">View the site</a>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Gelee Royale Roannaise</h2>
      <p class="copy">eCommerce website with Stripe payment<br />WooCommerce, WhatsApp and Mailchimp integrations<br />WordPress CMS as requested by the client</p>
      <a class="btn btn-outline-light" href="https://geleeroyaleroannaise.com/" role="button">View the site</a>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">In English We Say</h2>
      <p class="copy">Simple WP website to support the client's Instagram-based business<br />Responsive CSS design built for mobile users</p>
      <a class="btn btn-outline-light" href="http://www.inenglishwesay.com/" role="button">View the site</a>
    </div>
  </div>
</main>