<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Hubbly</h2>
      <a class="btn btn-outline-light" href="http://www.hubbly.online/" role="button">View the site</a>
      <a class="btn btn-light" href="https://github.com/RafaelFernandez/wslt.git" role="button">View the code</a>
      <p class="copy">The website that makes other websites!<br />Uses a whole heap of JS and Stimulus.<br />From MVP to complete web app.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">UniChoices</h2>
      <a class="btn btn-outline-light" href="https://unichoices.co.uk/" role="button">View the site</a>
      <p class="copy">A commercial site to compare UK universities and courses.<br />Built with our own API using MySQL.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">WildFlower</h2>
      <a class="btn btn-outline-light" href="https://wildflowerxp.herokuapp.com/" role="button">View the site</a>
      <a class="btn btn-light" href="https://github.com/RafaelFernandez/wildflowerxp" role="button">View the code</a>
      <p class="copy">A goecoded booking app for wild experiences!<br />One of the many MVPs produced at<br />Le Wagon bootcamp.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">In English We Say</h2>
      <a class="btn btn-outline-light" href="http://www.inenglishwesay.com/" role="button">View the site</a>
      <p class="copy">Simple WP website to support the client's<br />Instagram-based business<br />Responsive CSS design for mobile users</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Gelee Royale Roannaise</h2>
      <a class="btn btn-outline-light" href="https://geleeroyaleroannaise.com/" role="button">View the site</a>
      <p class="copy">eCommerce website with Stripe payment.<br />Integrations with WooCommerce, WhatsApp and Mailchimp.<br />WordPress CMS as requested by the client.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">This page!</h2>
      <a class="btn btn-light" href="https://github.com/PoppyJennings/poppy-portfolio" role="button">View the code</a>
      <p class="copy">Find out more about me and why we should work together!<br />A simple Rails app built with HTML, SCSS and a touch of JS</p>
    </div>
  </div>
</main>