<div class="footer text-left pt-3">
  <div class="spacer mb-4">
    <h4>
      <span id="footer-typed-text"></span>
    </h4>
  </div>
  <div class="contact d-flex flex-column">
    <div class="phone d-inline-flex">
      <i class="fas fa-phone"></i><a href="https://api.whatsapp.com/send?phone=34658713508" target="_blank"> +34 658713508</a>
    </div>
    <div class="email d-inline-flex">
      <i class="fas fa-envelope-open-text"></i><p> popjen@hotmail.com</p>
    </div>
    <div class="linkedin d-inline-flex">
      <i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/poppyjennings/"> /PoppyJennings</a>
    </div>
    <div class="github d-inline-flex">
      <i class="fab fa-github"></i><a href="https://github.com/PoppyJennings"> /poppyjennings</a>
    </div>
    <div class="cv d-inline-flex">
      <i class="fas fa-download"></i><a href="https://res.cloudinary.com/dwsfhweeg/image/upload/v1618570012/Portfolio/Poppy_Jenings_CV_cjvshk.png">Download my CV</a>
    </div>
  </div>
</div>


