.footer {
  i {
    font-size: 20px;
    padding-right: 10px;
  }

  a {
    font-size: 18px;
    color: #9a9a9b;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 4px;
  }

  a:hover {
    color: #f8f9fa;
  }
  
  p {
    font-size: 18px;
    color: #9a9a9b;
    margin-bottom: 4px;
  }
}